

.form-edicion {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  max-width: 100%;
  padding: 1rem;
  border: 1px solid var(--primary-solid);
  border-radius: 6px;
  background-color: var(--primary-900) !important;
}

.form-edicion label {
  font-weight: 600;
  color: var(--primary-solid);
}

.form-edicion input,
.form-edicion textarea {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--primary-500);
  border-radius: 5px;
  transition: border-color 0.3s ease;
  background-color: var(--primary-900);
  color: var(--primary-solid);
}

.form-edicion input:focus,
.form-edicion textarea:focus {
  border-color: var(--color-verde);
  outline: none;
  background-color: #e0f7e9;
}

.form-edicion button {
  padding: 0.6rem 1rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  color: var(--color-boton-texto);
}

.form-edicion button[type="submit"] {
  background-color: var(--color-verde);
}

.form-edicion button[type="submit"]:hover:not(:disabled) {
  background-color: var(--color-verde-hover);
}

.form-edicion button[type="submit"]:disabled {
  background-color: var(--primary-500);
  cursor: not-allowed;
}

.form-edicion button[type="button"] {
  background-color: var(--color-verde-hover);
  margin-left: 0.5rem;
}

.form-edicion .invalid-feedback {
  color: #d32f2f;
}

.mi-modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 108, 59, 0.2) !important;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.mi-modal-content {
  background-color: var(--primary-900) !important;
  padding: 20px;
  border-radius: 8px;
  max-width: 420px;
  width: 90%;
  box-shadow: 0 4px 10px var(--color-verde-hover);
  color: var(--primary-solid);
}
